<head>
  <script src="plotly-latest.min.js"></script>
</head>
<body>
  <div id="graph"></div>
</body>

<script>
var arr = [];
var arr_y = [];
for (i=0; i<100; i++) {
	arr.push(Math.random());
	arr_y.push(i);
}

function rand(arg) {
  return arr[arg];
}

Plotly.plot('graph', [{
  y: [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18].map(rand)
}]);

var cnt = 0;

var interval = setInterval(function() {
  arr.shift();
  arr.push(Math.random());
  
  Plotly.deleteTraces('graph', [0]);
  Plotly.plot('graph', [{
	y: arr_y.map(rand)
  }]);

  if(cnt === 100) clearInterval(interval);
}, 100);
</script>
