<div class="well">
  <ul class="nav nav-pills">
    <li id="nav_main">   <a href="/">       Главная</a></li>
    <li id="nav_all">    <a href="/all">    Все данные</a></li>
    <!-- <li id="nav_between"><a href="/between1">Данные за период</a></li> -->
    <li id="nav_between_manual"><a href="/between2">Отчеты</a></li>
    <li id="nav_debug"><a href="/debug">Отладка</a></li>
    <li id="nav_tools"><a href="/tools">Настройки</a></li>
  </ul>
</div>
