<div class="progress">
  <div class="progress-bar" id="progressbar_001" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 0%;">
    0%
  </div>
</div>
