<% layout('layout/page') -%>
<% block('title', 'Все данные'); -%>

<script type="text/javascript">
  $("#nav_all").addClass("active");
</script>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Данные:</h3>
  </div>

  <div class="panel-body">

    <table class="table table-striped table-bordered table-hover table-responsive table-condensed">
      <thead>
        <tr>
          <td>№п/п</td>
          <td>Значение</td>
          <td>Дата</td>
        </tr>
      </thead>
      <tbody>
        <% data.forEach( function(record) { %>
          <tr>
            <td><%- record.id -%></td>
            <td><%- record.value -%></td>
            <td><%- new Date(record.date).toLocaleString({timeZone: "Europe/Moscow"}) -%></td>
          </tr>
        <% }); %>
      </tbody>
    </table>

  </div>
</div>
