<% layout('layout/page') -%>
<% block('title', 'Данные за период'); -%>
<link rel="stylesheet" href="/css/graph.css"/>

<script type="text/javascript">
  $("#nav_between_manual").addClass("active");
</script>

<script type="text/javascript">
  progressBarState = 0;
  updateProgressBar = function() {
    $("#progressbar_001").html(progressBarState+'%')
                         .css('width',progressBarState+'%')
                         .attr('aria-valuenow',progressBarState);
    console.log(progressBarState+'%');
  }
  progressBarInterval = window.setInterval(updateProgressBar, 100);
</script>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Вывести данные за временной промежуток:</h3>
  </div>

  <div class="panel-body">
    <!-- <form class="form-horizontal" role="form" name="range-form" method="post"> -->

      <div class="form-group" align="center">
        <label for="role" class="col-sm-offset-2 col-sm-2 control-label">Оборудование: </label>
        <div class="col-sm-5">
          <div class="btn-group" style="width:100%" >
            <a class=" btn btn-primary col-sm-11" href="#"><i class="icon-user icon-white"></i> <%- data.role -%> </a>
            <a class="btn btn-primary dropdown-toggle col-sm-1" data-toggle="dropdown" href="#"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#"><i class="icon-pencil"></i> <%- data.role -%> </a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="time_from" class="col-sm-offset-2 col-sm-2 control-label">С:</label>
        <div class="col-sm-2"> <input type="time" class="form-control" id="time_from" name="time_from" require value="<%- new Date('07:00 10.04.2017').toLocaleTimeString().slice(0,5) -%>"> </div>
        <div class="col-sm-3"> <input type="date" class="form-control" id="date_from" name="date_from" require value="<%- new Date('07:00 10.04.2017').toLocaleDateString("nl",{year:"numeric",month:"2-digit", day:"2-digit"}) -%>"> </div>
      </div>
      <div class="form-group">
        <label for="time_to" class="col-sm-offset-2 col-sm-2 control-label">По:</label>
        <div class="col-sm-2"> <input type="time" class="form-control" id="time_to" name="time_to" require value="<%- new Date('17:00 10.04.2017').toLocaleTimeString().slice(0,5) -%>"> </div>
        <div class="col-sm-3"> <input type="date" class="form-control" id="date_to" name="date_to" require value="<%- new Date('17:00 10.04.2017').toLocaleDateString("nl",{year:"numeric",month:"2-digit", day:"2-digit"}) -%>"> </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-5">
          <button class="btn btn-primary col-sm-12" type="submit" id="btn_search" >Найти</button>
        </div>
      </div>
      <!-- </form> -->

      <%-partial('partials/progressbar')%>

    <div id="div_percent"></div>
    <div id="div_graph_perc"></div>
    <div id="div_graph2"></div>
    <div id="div_table"></div>

  </div>
<div>

<script src="/js/d3.v3.min.js"></script>
<script src ="/js/d3.tip.v0.6.3.js"></script>
<script src="/js/graph2.js"></script>
<script src="/js/graph3.js"></script>

<script type="text/javascript">
  var params = <%- JSON.stringify(params) -%>;
  var eq_name = <%- JSON.stringify(data.role) -%>;
  console.log(eq_name);

  function getInterval(to, from) {
    console.log(to *1, from *1)
    s = '';
    time = (to - from)/1000;
    d = (time / (24*60*60)) | 0;
    time -= d*24*60*60;
    if (d>=1)
      s += d + " дн. ";
    h = (time / (60*60)) | 0 ;
    time -= h*60*60;
    s += h + " час. ";
    m = (time / 60) | 0;
    time -= m*60;
    s += m + " мин. " + (time | 0) + " сек.";
    return s;
  }
</script>

<script type="text/javascript">
//$(document.forms["range-form"]).on("submit", function() {
$("#btn_search").on("click", function() {
  alert("CLICKED!")
  progressBarState = 10;
  var form = this;

  $('#div_table').html('');
  $('#div_graph_perc').html('');
  $('#div_graph2').html('');

  progressBarState = 20;

  var from = $("#time_from").val() + " " + $("#date_from").val();
  var to   = $("#time_to").val()   + " " + $("#date_to").val();
  var from = new Date(from);
  var to   = new Date(to);

  var uri = "/select/" + Number(from) + "/" + Number(to);
  var holost = 0, work = 0, nwork = 0, none = 0;
  var response;

  progressBarState = 25;
  var state = 0;

  $.ajax({
    url: uri,
    type: "GET",
    success: function(_response){
      response = Object.assign(_response);
      state = 1;
   }
 });

 var timer = setInterval(function() {

  if (state == 0) return;
  progressBarState = 30;
  console.log("30%");

  var delta = 1500;
  var ndata = ((response[0].date - from * 1)/delta) | 0;
  if (response[0].value < params.shutdown) {
    nwork++;
  } else {
    if (response[0].value > params.work) {
      work++;
    } else {
      holost++;
    }
  }

  progressBarState = 40;
  for (var i=1; i<response.length; i++) {
    ndata += ((response[i].date - response[i-1].date)/delta) | 0;

    if (response[i].value < params.shutdown) {
      nwork++;
    } else {
      if (response[i].value > params.work) {
        work++;
      } else {
        holost++;
      }
    }
  }

  ndata += ((to * 1 - response[response.length-1].date)/delta) | 0;

  $("#div_table").html(htm);
  progressBarState = 50;
  var all = nwork + work + holost + ndata;
  none = ndata;

  progressBarState = 60;
  progressBarState = 70;

  var htm = '<hr/><h4 align="center">Отчет о работе оборудования с: ' + from.toLocaleString() + ' по: ' + to.toLocaleString() +'</h4>';
  htm += '<p align="center">Наименование оборудования: <b>' + eq_name + '</b></p>';
  htm += '<p align="center">Общее время: ' + getInterval(to, from) + '</p>';
  htm += '<table class="table table-striped table-bordered table-hover table-responsive table-condensed"><thead><tr><td>Не работает</td><td>Холостой ход</td><td>Под нагрузкой</td><td>Нет данных</td></tr></thead><tbody>';
  htm += '<tr><td>' + (nwork/all*100).toFixed(2) + "%" + "</td><td>";
  htm += (holost/all*100).toFixed(2)  + "%" + "</td><td>";
  htm += (work/all*100).toFixed(2) + "%" + "</td><td>";
  htm += (none/all*100).toFixed(2)  + "%" + "</td></tr><tr>";
  htm += "<td>" + getInterval((to-from)*(nwork/all), 0) + "</td>";
  htm += "<td>" + getInterval((to-from)*(holost/all), 0) + "</td>";
  htm += "<td>" + getInterval((to-from)*(work/all), 0) + "</td>";
  htm += "<td>" + getInterval((to-from)*(none/all), 0) + "</td></tr>";

  progressBarState = 80;

  $("#div_percent").html(htm);
  params.g_width = $("#div_graph2").width();
  params.g_height = 400;
  var perc = [
    {date_t: "не работает", value: nwork/all*100},
    {date_t: "холостой ход", value: holost/all*100},
    {date_t: "под нагрузкой", value: work/all*100},
    {date_t: "нет данных",value: none/all*100},
  ];
  progressBarState = 90;
  render_graph3(perc, params)
  params.g_height = 100;
  progressBarState = 95;
  render_graph2(response, params, Number(from), Number(to));
  progressBarState = 100;
// }
// });
  clearInterval(timer);
}, 100);
  return false;
});
</script>
