<% layout('layout/page') -%>
<% block('title', 'Данные за период'); -%>

<script type="text/javascript">
  $("#nav_between").addClass("active");
</script>

<link rel="stylesheet" href="/css/graph.css"/>

<script type="text/javascript" src="moment.min.js"></script>
<script type="text/javascript" src="daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="daterangepicker.css" />


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Вывести данные за временной промежуток:</h3>
  </div>

  <div class="panel-body">
    <form class="form-horizontal" role="form" name="range-form" method="post">

    <div class="form-group">
      <label for="role" class="col-sm-offset-5 col-sm-0 control-label">Название станка:</label>
      <label for="role1" class="col-sm-offset-0 col-sm-0 control-label"> <class="col-sm-offset-3 col-sm-1 control-label"> <%- data.role -%> </label>
    </div>

      <div class="form-group">
        <div id="reportrange" class="col-sm-offset-4 col-sm-5" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;">
          <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
          <span></span> <b class="caret"></b>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary col-sm-offset-4 col-sm-5" type="submit">Обработать</button>
      </div>

    </form>

    <hr/>
    <div id="div_percent"></div>

    <hr/>
    <div id="div_graph_perc"></div>

    <!-- <hr/>
    <div id="div_graph"></div> -->
    
    <hr/>
    <div id="div_graph2">
    </div>

    <hr/>
    <div id="div_table"></div>
  </div>
<div>

<script src="/js/d3.v3.min.js"></script>
<script src ="/js/d3.tip.v0.6.3.js"></script>
<script src="/js/graph.js"></script>
<script src="/js/graph2.js"></script>
<script src="/js/graph3.js"></script>

<script type="text/javascript">
  var params = <%- JSON.stringify(params) -%>;

</script>

<script type="text/javascript">
$(document.forms["range-form"]).on("submit", function() {
  var form = this;

  $('#div_table').html('');
  $('#div_graph_perc').html('');
  $('#div_graph').html('');
  $('#div_graph2').html('');

  var from = $("#reportrange").data('daterangepicker').startDate._d;
  var to   = $("#reportrange").data('daterangepicker').endDate._d;

  var from = new Date(from);
  var to   = new Date(to);

  //console.log(from, to);

  var uri = "/select/" + Number(from) + "/" + Number(to);

  var holost = 0, work = 0, nwork = 0, none = 0;

  $.ajax({
    url: uri,
    type: "GET",
    success: function(response) {
      var htm = '<table class="table table-striped table-bordered table-hover table-responsive table-condensed"><thead><tr><td>№п/п</td><td>Значение</td><td>Дата</td></tr></thead><tbody>';
      response.forEach( function(record) {
      /*  if (record.value < params.shutdown)
          nwork++;
        else
          if (record.value > params.work)
            work++;
          else
            holost++;
*/
        htm += '<tr>' + '<td>' + record.id + '</td>' + '<td>' + record.value + '</td>' + '<td>' + new Date(record.date).toLocaleString({timeZone: "Europe/Moscow"}) + '</td>' + '</tr>';
      });

      var delta = 1500;
      var ndata = ((response[0].date - from * 1)/delta) | 0;
      if (response[0].value < params.shutdown) {
        nwork++;
      } else {
        if (response[0].value > params.work) {
          work++;
        } else {
          holost++;
        }
      }

      for (var i=1; i<response.length; i++) {
        ndata += ((response[i].date - response[i-1].date)/delta) | 0;

        if (response[i].value < params.shutdown) {
          nwork++;
        } else {
          if (response[i].value > params.work) {
            work++;
          } else {
            holost++;
          }
        }
      }
      ndata += ((to * 1 - response[response.length-1].date)/delta) | 0;

      $("#div_table").html(htm);

      /*var all = (to - from)/1000/5;
      none = all - nwork - work - holost;*/
      var all = nwork + work + holost + ndata;
      none = ndata;

      var hour1 = 0;
      var minute1 = (all-work-holost-none)*5/60;
      var day1 = 0;

      if ((minute1 - 59) > 0) {
        hour1 = Math.floor(minute1/60);
        minute1 = minute1-hour1*60;

          if ((hour1 - 23) > 0) {
            day1 = Math.floor(hour1/24);
            hour1 = hour1-day1*24;
          }
      }

      var hour2 = 0;
      var minute2 = (all-none-nwork-work)*5/60;
      var day2 = 0;

      if ((minute2 - 59) > 0) {
        hour2 = Math.floor(minute2/60);
        minute2 = minute2-hour2*60;

          if ((hour2 - 23) > 0) {
            day2 = Math.floor(hour2/24);
            hour2 = hour2-day2*24;
          }
      }

      var hour3 = 0;
      var minute3 = ((all-none-nwork-holost)*5/60);
      var day3 = 0;

      if ((minute3 - 59) > 0) {
        hour3 = Math.floor(minute3/60);
        minute3 = minute3-hour3*60;

          if ((hour3 - 23) > 0) {
            day3 = Math.floor(hour3/24);
            hour3 = hour3-day3*24;
          }
      }

      var hour4 = 0;
      var minute4 = (all-nwork-work-holost)*5/60;
      var day4 = 0;

      if ((minute4 - 59) > 0) {
        hour4 = Math.floor(minute4/60);
        minute4 = minute4-hour4*60;

          if ((hour4 - 23) > 0) {
            day4 = Math.floor(hour4/24);
            hour4 = hour4-day4*24;
          }
      }

      var htm = '<table class="table table-striped table-bordered table-hover table-responsive table-condensed"><thead><tr><td>Не работал</td><td>В холостую</td><td>Под нагрузкой</td><td>Нет данных</td></tr></thead><tbody>';
      htm += '<tr><td>' + (nwork/all*100).toFixed(2) + "%" + "</td><td>";
      htm += (holost/all*100).toFixed(2)  + "%" + "</td><td>";
      htm += (work/all*100).toFixed(2) + "%" + "</td><td>";
      htm += (none/all*100).toFixed(2)  + "%";
      htm += '<tr><td>' + "   Дни: " + day1.toFixed(2) + "  Часы: " + hour1.toFixed(2) + "  Mинуты: " + minute1.toFixed(2) + "</td><td>";
      htm += "   Дни: " + day2.toFixed(2) + "  Часы: " + hour2.toFixed(2) + "  Mинуты: " + minute2.toFixed(2) + "</td><td>";
      htm += "   Дни: " + day3.toFixed(2) + "  Часы: " + hour3.toFixed(2) + "  Mинуты: " + minute3.toFixed(2) + "</td><td>";
      htm += "   Дни: " + day4.toFixed(2) + "  Часы: " + hour4.toFixed(2) + "  Mинуты: " + minute4.toFixed(2);


      $("#div_percent").html(htm);
    /*  $("#div_graph_perc_legend").html('<img src="/images/legend.png">');*/

      params.g_width = $("#div_graph").width();
      params.g_height = 400;
      render_graph(response, params);
      var perc = [
        {date_t: "не работает", value: nwork/all*100},
        {date_t: "холостой ход", value: holost/all*100},
        {date_t: "под нагрузкой", value: nwork/all*100},
        {date_t: "нет данных",value: none/all*100},
      ]
      render_graph3(perc, params)
      params.g_height = 100;
      render_graph2(response, params, Number(from), Number(to));
    }
  });
  return false;
});
</script>


<script type="text/javascript">
$(function() {

    var start = moment().subtract(29, 'days');
    var end = moment();

    function cb(start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
           'Сегодня': [moment(), moment()],
           'Вчера': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'За последние 7 дней': [moment().subtract(6, 'days'), moment()],
           'За текущий месяц': [moment().startOf('month'), moment().endOf('month')],
           'За прошедший месяц': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);

});
</script>
