<% layout('layout/page') -%>
<% block('title', 'Отладка'); -%>

<script type="text/javascript">
  $("#nav_debug").addClass("active");
</script>

<script src="/js/plotly-latest.min.js"></script>


<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Данные:</h3>
  </div>

  <div class="panel-body">

	<div id="graph"></div>

	<script>
	var arr = [];
	var arr_y = [];
	/*for (i=0; i<10; i++) {
		arr.push(0);
		arr_y.push(i);
	}*/

	function rand(ind) {
	  return arr[ind];
	}

	Plotly.plot('graph', [{
	  y: arr_y.map(rand)
	}]);
	
	</script>

	
	<script>
	  $(function () {
		var socket = io();
		socket.on('data', function(val){
			console.log(val.val);
			if (arr.length < 100) {
				arr.push(val.val);
				arr_y.push(arr_y.length);
				
				Plotly.deleteTraces('graph', [0]);
				Plotly.plot('graph', [{
					y: arr_y.map(rand)
				}]);
			} else {
				arr.shift();
				arr.push(val.val);
			
				Plotly.deleteTraces('graph', [0]);
				Plotly.plot('graph', [{
					y: arr_y.map(rand)
				}]);
			}
		});
      });
	</script>

  </div>
</div>
