<% layout('layout/page') -%>
<% block('title', 'Главная'); -%>

<script type="text/javascript">
  $("#nav_main").addClass("active");
</script>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Данные:</h3>
  </div>

  <div class="panel-body">


  <label for="role" class="col-sm-offset-0 col-sm-1 control-label">Название станка:</label>
  <div class="col-sm-2"> <input readonly type="text" class="form-control" id="role" name="role" require value="<%- role -%>"> </div>

    <div class="well" style="padding: 10px;">
      <h4 class="panel-title" style="padding: 0px; margin: 0px;">Статус: <%- state -%> </h4>
    </div>
    </div>
