<% layout('layout/page') -%>
<% block('title', 'Настройки'); -%>

<script type="text/javascript">
  $("#nav_tools").addClass("active");
</script>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Настройки:</h3>
  </div>

      <div class="panel-body">
        <form class="form-horizontal" role="form" name="setting_form" method="post">

          <div class="form-group">
            <label for="role" class="col-sm-offset-3 col-sm-1 control-label">Название станка:</label>
            <div class="col-sm-2"> <input type="text" class="form-control" id="role" name="role" require value="<%- role -%>"> </div>
          </div>

          <div class="form-group">
            <label for="port" class="col-sm-offset-3 col-sm-1 control-label">Порт (http):</label>
            <div class="col-sm-2"> <input type="number" class="form-control" id="port" name="port" require value="<%- port -%>"> </div>
          </div>

          <div class="form-group">
            <label for="serial_port" class="col-sm-offset-3 col-sm-1 control-label">COM:</label>
            <div class="col-sm-2"> <input type="text" class="form-control" id="serialport" name="serialport" require value="<%- serialport -%>"> </div>
          </div>

          <div class="form-group">
            <label for="baudrate" class="col-sm-offset-3 col-sm-1 control-label">Скорость COM:</label>
            <div class="col-sm-2"> <input type="number" class="form-control" id="baudrate" name="baudrate" require value="<%- baudrate -%>"> </div>
          </div>

          <div class="form-group">
            <label for="hh" class="col-sm-offset-3 col-sm-1 control-label">Граница ХХ:</label>
            <div class="col-sm-2"> <input type="number" class="form-control" step="0.01" id="hh" name="hh" require value="<%- hh -%>"> </div>
          </div>

          <div class="form-group">
            <label for="work" class="col-sm-offset-3 col-sm-1 control-label">Граница работы:</label>
            <div class="col-sm-2"> <input type="number" class="form-control" step="0.01" id="work" name="work" require value="<%- work -%>"> </div>
          </div>

          <button type="submit" class="btn btn-primary col-sm-offset-3 col-sm-3">Сохранить</button>

        </form>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
$(document.forms["setting_form"]).on('submit', function() {
  var form = $(this);

  $.ajax({
    url: "/",
    method: "POST",
    data: form.serialize(),
    complete: function() {
      $(":submit", form).button("reset");
    },
    statusCode: {
      200: function() {
        window.location.href = "/";
      },
      403: function() {}
    }
  });

  return false;
});

</script>
